@use '../../../../shared/styles/mixins' as *;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

/* Block: project */
.project {
  position: relative;
  width: 100%;
  height: 100%;
}

.project__list {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transition: filter 0.3s ease-in-out forwards;
}

.project__list--blur {
  filter: blur(10px);
  pointer-events: none;
}

/* Project loading */
.project__loading {
  height: 100%;
  width: 100%;
  position: relative;
}

.project__list-ul {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__loading-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* Block: project-edit */
.project-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9909;

  width: 50%;
  padding: 1rem;
  background-color: var(--mat-sys-on-primary);
  border: 1px solid var(--mat-sys-primary);
  border-radius: 10px;
  color: var(--mat-sys-primary);
}

.project-edit__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.project-edit__errors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.project-edit__error-text {
  font-size: small;
  color: red;
}

.project-edit__submit-icon {
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
  vertical-align: middle;
}

mat-form-field {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  left: -10000px;
}

/* Responsive */
@media screen and (max-width: 668px) {
  .project-edit {
    width: 90%;
  }
}
