<div class="task">
  <ul class="task__list" [ngClass]="{ 'task__list--blur': isBlur }">

    <div class="task__loading" *ngIf="isLoading; else showProjects">
      <mat-progress-spinner class="task__loading-icon" mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>

    <ng-template #showProjects>
      <app-project-item
        *ngFor="let project of myProjects; let isLast = last"
        [project]="project"
        (toggled)="handleToggle($event)"
        (enableBlur)="handleBlur($event)"
        (enableEdit)="handleEdit($event[0], $event[1])"
        [isLast]="isLast"
      />
    </ng-template>

  </ul>

  <form *ngIf="isEdit" [formGroup]="projectEdit" (ngSubmit)="submitEdit()" class="task-edit">

    <div class="task-edit__inputs">
      <mat-form-field appearance="outline">
        <mat-label>Enter Project</mat-label>
        <input aria-describedby="selectUpdateProject" formControlName="projectText" matInput type="text" />
      </mat-form-field>

      <button mat-icon-button type="submit" aria-label="Submit Update">
        <mat-icon class="task-edit__submit-icon">check</mat-icon>
      </button>
    </div>

    <div class="task-edit__errors" id="selectUpdateProject" *ngIf="projectEdit.get('projectText')?.touched && projectTextErrors.length">
      <div class="task-edit__error-text">
        {{ projectTextErrors.join(', ') }}
      </div>
    </div>

  </form>
</div>
