:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.project-create {
  &__form {
    height: auto; /* Anpassas efter innehållet */
    width: 50%; /* Tar upp 50% av parentens bredd */
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  &__title {
    margin-top: 2rem;
  }

  &__form-field {
    width: 80%;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__error-text {
    margin: 0;
    padding: 0;
    font-size: small;
    color: red;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 668px) {
  .project-create__error-text {
    font-size: x-small;
  }

  .project-create__form {
    width: 75%;
  }
}
