@use '../../../shared/styles/mixins' as *;

:host {
  @include host-standard;
}

.task-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 1rem;

  &__top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__button-container {
    border: none;
    background-color: transparent;
  }

  &__back-button {
    cursor: pointer;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__content {
    height: 40vh;
    min-height: auto;
    overflow-y: auto;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__no-tasks-message {
    font-size: large;
  }
}

@media screen and (max-width: 376px) {
  .task-layout__content {
    width: 120%;
  }
}

@media screen and (min-width: 376px) and (max-width: 668px) {
  .task-layout__content {
    min-height: 40vh;
    width: 100%;
  }
}
