<div class="task-layout">
  <div class="task-layout__top-container">
    <button class="task-layout__button-container" (click)="updateDisplayId(null)" aria-label="Back">
      <mat-icon class="task-layout__back-button">arrow_back</mat-icon>
    </button>
    <h1>Tasks</h1>
    <div></div>
  </div>

  <div class="task-layout__header">
    <app-task-filter [filter]="filter()" (filterChange)="updateFilter($event)" />
    <a routerLink="create-task">
      <app-generic-button text="Add Task" />
    </a>
  </div>

  <div class="task-layout__content">
    <app-task-list
      *ngIf="myTasks().length > 0; else noTasks"
      [isLoading]="isLoading"
      (toggled)="onToggleTask($event)"
    />
  </div>

  <ng-template #noTasks>
    <p class="task-layout__no-tasks-message" role="status" aria-live="polite" *ngIf="!isLoading">No Tasks To Display</p>
  </ng-template>

  <div class="task-layout__footer">
    <app-task-completion [percentCompleted]="percentCompleted" />
  </div>
</div>