<li class="project-task" [ngClass]="{ 'project-task--last': isLast }">
  <div class="project-task__container">
    <button
      class="project-task__title-button"
      (click)="updateDisplayId(project.id)"
      aria-label="Visit Project"
    >
      {{ project.title | capitalize }}
    </button>
    <p
      class="project-task__deadline"
      [ngClass]="{ 'project-task__deadline--expired': project.deadline && project.deadline < now }"
    >
      Deadline:
      {{
        project.deadline && project.deadline >= now
          ? (project.deadline | date: 'yyyy-MM-dd')
          : ('Expired' | capitalize)
      }}
    </p>
  </div>

  <div class="project-task__actions">
    <button mat-icon-button (click)="editProject(project)" aria-label="Edit Project">
      <mat-icon class="project-task__icon" appHoverClass [hoverClass]="'project-task__icon-hover'"
        >edit</mat-icon
      >
    </button>
  </div>

  <div class="project-task__actions">
    <button mat-icon-button (click)="removeTask(project)" aria-label="Remove Project">
      <mat-icon class="project-task__icon">close</mat-icon>
    </button>
  </div>

  <div class="project-task__priority">
    <p>{{ project.priority | capitalize }}</p>
  </div>
</li>
