@use '../../../shared/styles/mixins' as *;

:host {
  @include host-standard;
}

// Block: task-layout
.task-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 1rem;

  &__header {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
  }

  &__content {
    min-height: 200px;
    height: auto;
    overflow-y: auto;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__no-projects {
    font-size: large;
  }

  .task-layout__add-button{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%; // gör så att innehållet centreras i y-led
  }

  .task-layout__searchbar{
  width: 50%;
  height: 100%; // gör så att innehållet centreras i y-led
  }
}

@media screen and (min-width: 375px) and (max-width: 668px) {
  .task-layout__content {
    width: 110%;
  }
}
