@use '../../../shared/styles/mixins' as *;

:host {
  @include host-standard;
}

// Block: task-layout
.task-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  padding: 1rem;

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__content {
    min-height: auto;
    height: 40vh;
    overflow-y: auto;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__no-projects {
    font-size: large;
  }
}

@media screen and (max-width: 376px) {
  .task-layout__content {
    width: 120%;
  }
}

@media screen and (min-width: 376px) and (max-width: 668px) {
  .task-layout__content {
    min-height: 40vh;
    width: 100%;
  }
}
