<div class="task-layout">
  <h1 class="task-layout__title">Projects</h1>

  <div class="task-layout__header">
  <div class="task-layout__add-button">
      <app-generic-button routerLink="create-project" text="Add Project" />
  </div>

  <div class="task-layout__searchbar">
    <app-searchbar *ngIf="isBrowser" (search)="onSearchTerm($event)"></app-searchbar>
  </div>
</div>


  <div class="task-layout__content">
   <app-project-list
      *ngIf="filteredProjects().length > 0; else noProjects"
      [myProjects]="filteredProjects()"
      [isLoading]="isLoading"
      class="task-layout__project-list"
      (toggled)="onToggleProject($event)"
    />
    <ng-template #noProjects>
      <p class="task-layout__no-projects" *ngIf="!isLoading" role="status" aria-live="polite">
        No Projects To Display
      </p>
    </ng-template>
  </div>

    <div class="task-layout__footer">
      <app-task-completion [percentCompleted]="percentCompleted" />
    </div>
</div>
