@use '../../shared/styles/mixins' as *;
:host {
   @include host-standard
}

  .task-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 1rem;
}

.task-layout__header {
    width: 100%;
    display: flex;
    justify-content: center;   /* Centrerar horisontellt */
    align-items: start;       /* Centrerar vertikalt */
}

.task-layout__content {
    min-height: auto;
    height: 40vh;
    overflow-y: auto;          
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-layout__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;   /* Delar upp utrymmet mellan elementen */
    align-items: center;       /* Vertikal centrering */
    padding: 1rem;  /* Lägg till lite inre avstånd så att det inte blir för tätt */
}

.task-layout__no-tasks {
    font-size: large;
}


@media screen and (max-width: 376px) {
  .task-layout__content {
    width: 120%;
  }
}

@media screen and (min-width: 376px) and (max-width: 668px) {
  .task-layout__content {
    min-height: 40vh;
    width: 100%;
  }
}