<li class="task-item" [ngClass]="{ 'task-item--last': isLast }">
  <p class="task-item__text">{{ task.todo }}</p>

  <div class="task-item__actions">
    <button aria-label="Edit Task" mat-icon-button (click)="editTask(task)">
      <mat-icon class="task-item__icon" appHoverClass [hoverClass]="'task-item__icon-hover'"
        >edit</mat-icon
      >
    </button>
  </div>

  <div class="task-item__actions">
    <button aria-label="Remove Task" mat-icon-button (click)="removeTask(task)">
      <mat-icon class="task-item__icon">close</mat-icon>
    </button>
  </div>

  <div class="task-item__check">
    <mat-checkbox aria-label="Toggle Started" (change)="toggleStarted()" [checked]="task.started">
      <p>Started</p>
    </mat-checkbox>
  </div>

  <div class="task-item__check">
    <mat-checkbox
      aria-label="Toggle Completed"
      (change)="toggleCompleted()"
      [checked]="task.completed"
    >
      <p>Done</p>
    </mat-checkbox>
  </div>

  <div class="task-item__priority">
    <p>{{ task.priority | capitalize }}</p>
  </div>
</li>
